<html>
    <head>
            <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    </head>
    
    <body>
        
        <input id="username" name="username" type="text" placeholder="Enter your username">
        <input id ="password" name="password" type="password" placeholder="Enter your password">






        <script src="/signup.js"></script>
    </body>
</html>